# Jupyter Notebook
.ipynb_checkpoints/

# Python
**/__pycache__/
*.pyc
llm/models/*.joblib

# Local env files
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db

# Docker artifacts
docker/*.tar

# Log Files
/logs/
*.log
**/logs/

# Nuxt dev/build outputs
frontend/.output/
